.Cus-logo{
   width: 2.5rem;
}
.two{
    background-image: url(backgroundone.jpeg);
    height: 600px;
    width:1263px;
    background-size: cover;

}
.organic{
    font-family: 'Dancing Script', cursive;
    margin: 0;
    position: relative;
    bottom:15px;    
    padding-left: 70px;
}
.freshfood{
    padding-top: 120px;
    padding-left: 150px;
    margin: 0;
}
.paraone{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 70px;
    position: relative;
    bottom: 15px;
}
.learnmore{
    position: relative;
    left: 100px;
    bottom: 20px;
    background-color: aquamarine;
    color: rgb(9, 168, 72);
    border-style: hidden;
}
.three{
    background-color:rgb(9, 168, 72);
    height: 940px;
    width:1261px;
}
.work{
    text-align: center;
    color: aliceblue;
    padding-top: 75px;
}
.works{
    text-align: center;
    color: aliceblue;
    padding-top: 15px;
    padding-left: 130px;
    padding-right: 130px;
}
.bull{
    height:50px;
    width:50px;
    position: relative;
    left:160px;
    top:15px;    
}
.card-title{
    text-align: center;
    position: relative;
    top:5px;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    font-weight: bolder;
    color: green;
}
.animal{
    text-align: center;
}
.organicfarming{
    height:100px;
    width:100px;
    position: relative;
    left:150px;
    top:5px; 
}
.tractor{
    height:50px;
    width:50px;
    position: relative;
    left:150px;
    top:5px;
}
.card-text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.four{
    height: 600px;
    width:1263px;
}
.promi{
    background-image: url(promisse.webp);
    background-size: cover;
    height:600px;
    width:600px;
}