.pic1{
    height:230px;
    width:228px;
    /* margin-left: 20px; */
}
.pic2{
    height:230px;
    width:228px;
    /* margin-left: 250px; */
}
.pic3{
    height:230px;
    width:228px;
    /* margin-left: 150px; */

}