h1{
    color: blue;
    padding-left: 20px;
}
h3{
    color: rgb(98, 98, 239);
    padding-left: 20px;
}
p{
    background-color: rgb(111, 192, 232);
    color: rgb(14, 118, 203);
    padding: 20px;
    margin-right: 900px;
}
pre{
    background-color: rgba(104, 3, 198, 0.58);
    padding: 20px;
    margin-right: 900px;

}